<% @categories.each do |category| %>
	<ul class="full-category-cnt" id=<%= category.name.gsub(/\s+/, "").downcase %>>
		<% unless category.networks.empty? %>
			<li class="category-network-block block">
				<div class="row networks-in-categories <%= category.name %>"> 
					<div class="col-md-12 col-xs-12">
						<h1 class="list-name"><%= category.name %></h1>
						<% category.networks.each_with_index do |network, i| %>		
							<%= render 'network_widget', :network => network, :i => i %>
						<% end %>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>
<ul class="action-links">
	<li>
		<%= link_to(new_network_path, class: "action-link", accesskey: 'A') do %>
			Add new network
		<% end %>
	</li>
</ul>