<ul id="info-menu">
	<li <%= "class=active-item" if active_item == "details" %> id="details"><p><%= link_to "Details", network, remote: true %><p></li>
	<li <%= "class=active-item"  if active_item == "coins" %> id="coins"><p><%= link_to "Coin", network_coin_path(network), remote: true %></p></li>
	<li <%= "class=active-item"  if active_item == "whitepapers" %> id="whitepapers"><p><%= link_to "Whitepapers", network_whitepapers_path(network), remote: true %></p></li>
	<li <%= "class=active-item"  if active_item == "links" %> id="links"><p><%= link_to "Links", network_links_path(network), remote: true %></p></li>
	<li <%= "class=active-item"  if active_item == "log" %> id="log"><p><%= link_to "Log", network_logs_path(network), remote: true %></p></li>
</ul>