<% if defined?(email) %> 
	<ul class="log-list" style="padding: 0 !important; margin: 0  !important; text-indent: 0  !important; list-style-type: 0  !important;"> 
<% else %>
	<ul class="log-list">
<% end %>
		<% log.changes.each do |change| %>
			<% unless change[:change].empty? || change[:change] == "" || change[:change].nil? || change[:change].second == "" || change[:change].second == [""] %> 
				<% if defined?(email) %> 
					<li style="padding: 0; margin: 0; text-indent: 0; list-style-type: 0;"> 
				<% else %>
					<li>
				<% end %>
						<% case change[:change_attr] %>
							<% when "whitepapers" %>
								<% if change[:change_type] == "added" || change[:change_type] == "edited" %>
									added a <%= change[:change_attr] %>
								<% end %>
							<% when "founders" %>
								<% if change[:change_type] == "added" %>
									Added <%= change[:change_attr] %>: 
									<% change[:change].second.each_with_index do |change, i| %>
										<%= change %>
									<% end %>
								<% elsif change[:change_type] == "edited" %>
									Changed <%= change[:change_attr] %> from 
										<% change[:change].first.each_with_index do |c, i| %>
											<%= " and " if i + 1 == change[:change].first.length && change[:change].first.length != 1 %><%= c %><%= ",	" unless i + 1 == change[:change].first.length || i + 2 == change[:change].first.length  %>
										<% end %>
									to 
										<% change[:change].second.each_with_index do |c, i| %>
											<%= " and " if i + 1 == change[:change].second.length && change[:change].second.length != 1 %><%= c %><%= ", " unless i + 1 == change[:change].second.length || i + 2 == change[:change].second.length || change[:change].first.length == 1 %>
										<% end %>
								<% end %>
							<% when "Status" %>
								<% if change[:change_type] == "added" %>
									Set to <%= change[:change_attr].downcase %>: <%= change[:change].second.capitalize %>
								<% elsif change[:change_type] == "edited" %>
									Changed <%= change[:change_attr].downcase %> from <%= change[:change].first.capitalize %> to <%= change[:change].second.capitalize %>
								<% end %>
							<% when "Link" %>
								<% if change[:change_type] == "added" %>
									Added URL: <%= change[:change].second %>
								<% elsif change[:change_type] == "edited" %>
									Changed URL from <%= change[:change].first %> to <%= change[:change].second %>
								<% end %>
							<% when "Created" %>
								Created 
									<%= link_to log.networks.name, log.networks %>
							<% when "logo" %>
								<% if change[:change_type] == "added" or change[:change].first == "/assets/fallback/default.png" %>
									Added <%= change[:change_attr] %>: <%= image_tag log.networks.logo, size: '16x16', id: 'network-logo-inline' %>
								<% elsif change[:change_type] == "edited" %>
									Changed <%= change[:change_attr] %> from 

										<%= image_tag change[:change].first, size: '16x16', id: 'network-logo-inline' %> to <%=  %> <%= image_tag log.networks.logo, size: '16x16', id: 'network-logo-inline' %>
								<% end %>
						<% end %>
					</li>
			<% end %>
		<% end %>
	</ul>