<li class="log-block block">
	<div class="row">
		<div class="col-md-4">
    		<% unless log.networks.nil? %>
	    		<div class="user-log-classification">
					<div class="user-log-classification-network">
						<%= image_tag(log.networks.logo.small.url, size: "20x20") if log.networks.logo? %>
						<%= link_to truncate(log.networks.name, length: 16), log.networks %>
					</div>
				</div>
			<% end %>
			<h6 class="when-posted"><%= time_ago_in_words(log.created_at) %></h6>
		</div>
		<div class="col-md-8">
			<ul class="log-list"> 
				<% log.changes.each do |change| %>
					<li>
						<% case change[:change_attr] %>
							<% when "whitepapers" %>
								<% if change[:change_type] == "Added" || change[:change_type] == "edited" %>
									<p>added a <%= change[:change_attr] %></p>
								<% end %>
							<% when "founders" %>
								<% if change[:change_type] == "Added" %>
									<p>added <%= change[:change_attr] %>: 
									<% change[:change].second.each_with_index do |change, i| %>
										<%= change %></p>
									<% end %>
								<% elsif change[:change_type] == "Edited" %>
									<p>changed <%= change[:change_attr] %> from 
										<% change[:change].first.each_with_index do |c, i| %>
											<%= " and " if i + 1 == change[:change].first.length && change[:change].first.length != 1 %><%= c %><%= ",	" unless i + 1 == change[:change].first.length || i + 2 == change[:change].first.length  %>
										<% end %>
									to 
										<% change[:change].second.each_with_index do |c, i| %>
											<%= " and " if i + 1 == change[:change].second.length && change[:change].second.length != 1 %><%= c %><%= ",	" unless i + 1 == change[:change].second.length || i + 2 == change[:change].second.length || change[:change].first.length == 1 %>
										<% end %></p>
								<% end %>
							<% when "status" %>
								<% if change[:change_type] == "Added" %>
									<p>added <%= change[:change_attr] %>: 
									<% change[:change].second.each_with_index do |c, i| %>
										<%= c.first %></p>
									<% end %>
								<% elsif change[:change_type] == "Edited" %>
									<p>changed <%= change[:change_attr] %> from 
										<% change[:change].first.each_with_index do |c, i| %>
											<%= c.first %>
										<% end %>
									to 
										<% change[:change].second.each_with_index do |c, i| %>
											<%= c.first %></p>
										<% end %>
								<% end %>
							<% when "Created" %>
								<p>Created 
									<%= link_to log.networks.name, log.networks %></p>
							<% when "logo" %>
								<p>New logo							
							<% else %>
								<% if change[:change_type] == "Added" %>
									<p>added <%= change[:change_attr] %>: "<%= change[:change].second.capitalize %>"</p>
								<% elsif change[:change_type] == "Edited" %>
									<p>changed <%= change[:change_attr] %> from "<%= change[:change].first %>" to "<%= change[:change].second.capitalize %>"</p>
								<% end %>
							<% end %>
						<% end %>
						<%= render partial: '/shared/who_posted', locals: {user: log.user} %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</li>