<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: '/layouts/info_menu', locals: { network: @network, active_item: "details"}) %>
	</div>
	<%= render partial: 'related_dropdown', locals: { network: @network } %>
	<div class="col-md-9 col-xs-12 main">
		<div class="info-header">
			<%= render(partial: 'networks/network_main_info_header', locals: { network: @network }) %>
		</div>
		<div class="content">
			<%= render 'show_network' %>
		</div>
	</div>
	<ul class="action-links">
		<% if current_user %>
			<% if @following %>
				<li><%= link_to("Unfollow #{@network.name}", unfollow_network_path, remote: true, class: "action-link", id: "unfollow-network", accesskey: 'F') %></li>
			<% else %>
				<li><%= link_to("Follow #{@network.name}", follow_network_path, remote: true, class: "action-link", id: "follow-network", accesskey: 'F') %></li>
			<% end %>
		<% else %>
			<li><%= link_to("Follow #{@network.name}", follow_network_path, class: "action-link", id: "follow-network", accesskey: 'F') %></li>
		<% end %>
		<li><%= link_to("Edit #{@network.name}", edit_network_path, class: "action-link", accesskey: 'E') %></li>
	</ul>
</div>