<div class="col-md-8 col-xs-12">
  <div class="row">
    <%= direct_upload_form_for [@network, @whitepaper] do |f| %>
      <% if @whitepaper.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@whitepaper.errors.count, "error") %> prohibited this whitepaper from being saved:</h2>
          <ul>
          <% @whitepaper.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-4 label">
          <%= f.label "Title" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :whitepaper_title %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <%= f.label "PDF" %>
        </div>
        <div class="col-md-8">
          <%= f.file_field :whitepaper, class: 'filestyle' %>
        </div>
      </div>
<!--      
      <div class="row">
        <div class="col-md-4 label">
          <%= f.label "Network" %>
        </div>
        <div class="col-md-8">
          <%#= f.collection_select :network_id, Network.all.order("name ASC").map { |n| [n.id, n.name, {'data-icon' => n.logo}, {class: 'network-option'}]}, :first, :second, @network.nil? ? {} : {selected: @network.id}, {multiple: true, size: 4, id: "link-option", :include_hidden => false} %>
        </div>
      </div>
-->
      <ul class="action-links">
        <li class="submit">
          <%= f.submit "Submit", class: "form-submit" %> 
        </li>
      </ul>
    <% end %>
  </div>
</div>
