<div class="row whitepaper-list-cnt">
	<div class="col-md-3 col-xs-4 whitepaper-thumb-cnt">
		<%= link_to network_whitepaper_path(network, wp) do %>
			<% if browser.platform.ios? or browser.platform.android? %>
				<%= image_tag "fallback/default-whitepaper.png", :height => '130', :class => "whitepaper-thumbnail-default"	 %>
			<% else %>
				<% if wp.width && wp.width > wp.height %>
					<%= image_tag wp.whitepaper.thumb, :width => wp.width, :height => wp.height, :class => "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
				<% else %>
					<%= image_tag wp.whitepaper.thumb, :size => '100x145', :class => "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-7 col-xs-7 col-md-offset-0 col-xs-offset-0 whitepaper-metadata">
		<% if defined?(wp.network) && !wp.network.nil? %>
    		<%= link_to network_whitepaper_path(network, wp) do %>
				<p class="whitepaper-title"><%= wp.whitepaper_title %></p>
			<% end %>
    		<div class="user-log-classification">
				<div class="user-log-classification-whitepaper">
					<% if !wp.network.logo.nil? %>
						<%= image_tag(wp.network.logo.small.url, size: "20x20") unless wp.network.logo.blank? %>
					<% end %>
					<%= link_to wp.network.name, wp.network %>
				</div>
			</div>
		<% end %>
		<h6 class="when-posted"><%= time_ago_in_words(wp.created_at) %></h6>
	</div>
</div>
<div class="row">
	<div class="whitepaper-divider col-md-12 col-xs-12">&nbsp;
	</div>
</div>