<div class="row whitepaper-list-cnt">
	<div class="col-md-3 col-md-offset-1 col-xs-4 col-md-offset-0 whitepaper-thumb-cnt">
		<% if wp.is_external? %>
			<%= link_to link_to wp.external_url, class: wp.is_external? ? 'whitepaper-thumbnail-default-wrapper' : '' do %>
				<% if browser.platform.ios? or browser.platform.android? or wp.is_external? %>
					<%= image_tag "fallback/default-whitepaper.png", :height => '130', :class => "whitepaper-thumbnail-default"	 %>
				<% else %>
					<% if wp.width && wp.width > wp.height %>
						<%= image_tag wp.whitepaper.thumb, :width => wp.width, :height => wp.height, :class => "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
					<% else %>
						<%= image_tag wp.whitepaper.thumb, :size => '100x145', :class => "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
					<% end %>
				<% end %>
			<% end %>
		<% else %>
			<%= link_to network_whitepaper_path(wp.network.name.downcase, wp), class: wp.is_external? ? 'whitepaper-thumbnail-default-wrapper' : '' do %>
				<% if browser.platform.ios? or browser.platform.android? or wp.is_external? %>
					<%= image_tag "fallback/default-whitepaper.png", :height => '130', :class => "whitepaper-thumbnail-default"	 %>
				<% else %>
					<% if wp.width && wp.width > wp.height %>
						<%= image_tag wp.whitepaper.thumb, :width => wp.width, :height => wp.height, :class => "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
					<% else %>
						<%= image_tag wp.whitepaper.thumb, :size => '100x145', :class => "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-6 col-xs-8 col-md-offset-0 col-xs-offset-0 whitepaper-metadata">
		<% if defined?(wp.network) && !wp.network.nil? %>
	    	<% if wp.is_external? %>
	    		<%= link_to wp.external_url do %>
		    		<p class="whitepaper-title"><%= wp.whitepaper_title %></p>
				<% end %>
		    	<% if show_tag %>
		    		<div class="user-log-classification">
						<div class="user-log-classification-whitepaper">
							<% if !wp.network.logo.nil? %>
								<%= image_tag(wp.network.logo.small.url, size: "20x20") unless wp.network.logo.blank? %>
							<% end %>
							<%= link_to wp.network.name, wp.network %>
						</div>
					</div>
				<% end %>
	    	<% else %>
	    		<%= link_to network_whitepaper_path(wp.network.name.downcase, wp) do %>
		    		<p class="whitepaper-title"><%= wp.whitepaper_title %></p>
				<% end %>
		    	<% if show_tag %>
		    		<div class="user-log-classification">
						<div class="user-log-classification-whitepaper">
							<% if !wp.network.logo.nil? %>
								<%= image_tag(wp.network.logo.small.url, size: "20x20") unless wp.network.logo.blank? %>
							<% end %>
							<%= link_to wp.network.name, wp.network %>
						</div>
					</div>
				<% end %>
	    	<% end %>
		<% end %>
		<%= render partial: '/shared/who_posted', locals: {user: wp.user, created_at: wp.created_at} %>
	</div>
	<div class="clear"></div>
</div>
<div class="row">
	<div class="whitepaper-divider col-md-8 col-md-offset-4 col-xs-12">&nbsp;
	</div>
</div>