<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: '/layouts/info_menu', locals: { network: @network, active_item: "whitepapers"}) %>
	</div>
	<%= render partial: '/networks/related_dropdown', locals: { network: @network } %>
	<div class="col-md-9 col-xs-12 main">
		<div class="info-header">
			<%= render(partial: 'networks/network_main_info_header', locals: { network: @network }) %>
		</div>
		<div class="content">
			<%= render 'whitepaper_list', locals: {whitepapers: @whitepapers} %>
			<ul class="action-links">
				<li>
					<% if current_user %>
						<%= link_to new_network_whitepaper_path, class: "action-link", remote: true, accesskey: 'A' do %>
							Add new whitepaper
						<% end %>
					<% else %>
						<%= link_to new_network_whitepaper_path, class: "action-link", accesskey: 'A' do %>
							Add new whitepaper
						<% end %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>