<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', object: {user: @user}, locals: {active_item: "account"}) %>
	</div>
	<div class="col-md-9 main">
		<div class="info-header">
			<div class="row">
				<div class="col-md-9 col-xs-12">
					<%= render(partial: 'user_main_info_header') %>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-9 col-xs-12">
					<div class="row">
	           			<%= form_for @user do |f| %>
	           				<div class="col-md-4 label">
				            	<%= f.label "Preview", class: "form-label" %>
				            	<p class="form-guidance">Please crop as a square</p>
				            </div>
	            			<div class="col-md-8">
				            	<%= image_tag @user.avatar_url(:large), id: "cropbox" %>
				            </div>
				            <% %w[x y w h].each do |attribute| %>
								<%= f.hidden_field "crop_#{attribute}" %>
							<% end %>
	          				<ul class="action-links">
					          <li class="submit">
					            <%= f.submit "Crop", class: "form-submit" %> 
					          </li>
					        </ul>
	          			<% end %>
		          	</div>
		        </div>
			</div>
		</div>
	</div>
</div>