<%= javascript_include_tag "paginate_logs" %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
		<ul class="action-links">
			<li><%= link_to(new_link_path, remote: false, class: "action-link", accesskey: 'L') do %> Add new link &nbsp;<%= image_tag("add-icon-white") %><% end %></li>
			<li><%= link_to(new_network_path, remote: false, class: "action-link", accesskey: 'N') do %>Add new network<% end %></li>
		</ul>
		<ul class="feed">
			<li class="intro-header user-info-block block">
				<div class="row">
					<div class="col-md-11 col-md-offset-1 col-xs-12 col-xs-offset-0 intro-block">
						<h1>Welcome to Coindexter</h1>
						<p>Coindexter is a way to discover up and coming blockchain networks and app coins. You can add and edit blockchain networks and app coins, like a wiki.</p>
						<p>Here's some recent activity on Coindexter.</p>
					</div>
				</div>
			</li>
			<%= render 'shared/logs', collection: @logs, as: :log, locals: {show_tag: false} %>
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<p class="loading-more">Loading more...</p>
				</div>
			</div>
			<%#= will_paginate @logs %>
		</ul>
	</div>
</div>
