<%= javascript_include_tag "paginate_logs" %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="action-links">
			<li><%= link_to("New link", new_link_path, remote: false, class: "action-link", accesskey: 'L') %></li>
			<li><%= link_to("New network", new_network_path, remote: false, class: "action-link", accesskey: 'N') %></li>
			<li><%= link_to("New coin", new_coin_path, remote: false, class: "action-link", accesskey: 'C') %></li>
		</ul>
		<ul class="feed">
			<li class="user-header user-info-block block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<h1>News &amp; updates</h1>
					</div>
				</div>
			</li>
			<%= render 'logs', locals: {logs: @logs} %>
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<p class="loading-more">Loading more...</p>
				</div>
			</div>
			<%= will_paginate @logs %>
		</ul>
	</div>
</div>
