<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="action-links">
			<li><%= link_to("New link", new_link_path, remote: false, class: "action-link", accesskey: 'L') %></li>
			<li><%= link_to("New network", new_network_path, remote: false, class: "action-link", accesskey: 'N') %></li>
			<li><%= link_to("New coin", new_coin_path, remote: false, class: "action-link", accesskey: 'C') %></li>
		</ul>
		<ul>
			<li class="user-header user-info-block block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<h1>News &amp; updates</h1>
					</div>
				</div>
			</li>
			<% @logs.each do |log| %>
				<% cache log do %>
					<% if log.feed_type == "network_log" %>
						<%= render(partial: 'networks/log', locals: {log: log}) %>
					<% elsif log.feed_type == "coin_log" %>
						<%= render(partial: 'coins/log', locals: {log: log}) %>	
					<% elsif log.feed_type == "link" %>
						<%= render(partial: 'links/show_all_links', locals: {link: log.data, coins: log.coins, networks: log.networks, user: log.user}) %>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
