<%= javascript_include_tag "paginate_logs" %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
		<ul class="action-links">
			<li><%= link_to(new_link_path, remote: false, class: "action-link", accesskey: 'L') do %> 
					Ask a question
				<% end %>
			</li>
			<li><%= link_to(new_network_path, remote: false, class: "action-link", accesskey: 'N') do %>Add new network<% end %></li>
		</ul>
		<ul class="feed">
			<li class="intro-header user-info-block block">
				<div class="row">
					<div class="col-md-12 col-xs-12 col-xs-offset-0 intro-block">
						<h1>Welcome to Coindexter</h1>
						<p>Coindexter is a collaborative library for long-term investors in decentralized, blockchain networks.</p>
						<p>You can contribute to Coindexter, like a wiki, or dive into <%= link_to "research areas", "search?utf8=%E2%9C%93&query=snarks" %> that interest you. Feel free to <%= link_to "ask a question", new_link_path %> if there's something you're looking to learn.</p>
						<p>Here's some recent activity on Coindexter.</p>
					</div>
				</div>
			</li>
			<%= render 'shared/logs', collection: @logs, as: :log, locals: {show_tag: false} %>
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<p class="loading-more">Loading more...</p>
				</div>
			</div>
			<%#= will_paginate @logs %>
		</ul>
	</div>
</div>
<% unless @subscribed_already == "true" or browser.platform.ios? or browser.platform.android? %> 
    <%= render 'newsletters/new' %>
<% end %>