<div class="who-posted-cnt">
	<% if defined?(current_user) && !user.nil? %>
		<%= link_to user_path(user), class: "who-posted" do %>
			<%= image_tag(user.avatar_url(:thumb), size: '16x16', class: 'avatar') if defined?(user.avatar) %>
			<%= current_user == user ? "Me" : user.username %>
		<% end %>
	<% elsif defined?(user) && !user.nil? %>
		<%= link_to user_path(user), class: "who-posted" do %>
			<%= image_tag(user.avatar_url(:thumb), size: '16x16', class: 'avatar') %>
			<%= user.username %>
		<% end %>
	<% end %>
	<% if defined?(created_at) %>
		<h6 class="when-posted"><%= time_ago_in_words(created_at) %></h6>
	<% end %>
	<div style="clear: both;"></div>
</div>