<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<ul id="info-menu">
			<li class="active-item"><p><%= link_to("Details", "#details") %><p></li>
			<li><p><%= link_to("News", "#news") %></p></li>
			<li><p><%= link_to("Discussion", "#discussion") %></p></li>
			<li><p><%= link_to("Log", "#log") %></p></li>
		</ul>
	</div>
	<div class="col-md-6 main">
		<ul>
			<li class="project-main-info project-info-block">
				<%= render 'project_main_info_header' %>
				<div class="row">
					<div class="col-md-4 label">
						<h6>status</h6>
					</div>
					<div class="col-md-8 status">
						<div class="status-icon <%= @project.status.downcase %>-icon"></div>
						<p class="status <%= @project.status.downcase %>-status"><%= @project.status.downcase %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>description</h6>
					</div>
					<div class="col-md-8">
						<p><%= @project.description %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>Coins</h6>
					</div>
					<div class="col-md-8">
						<% if @project.coins.any? %>
							<ul>
								<% @project.coins.each_with_index do |coin, i| %>
									<li>
										<%= link_to coin.name, coin %>
									</li>
								<% end %>
							</ul>
						<% else %>
							<%= link_to "Add a coin to #{coin.name}", coin_edit_path %>
						<% end %>
					</div>
				</div>
			</li>
		</ul>
		<ul>
			<li class="project-links project-links-block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<h6>people</h6>
					</div>
				</div>		
				<div class="row">
					<div class="col-md-4 label">
						<h6>Founders</h6>
					</div>
					<div class="col-md-8">
						<% if @project.founders.nil? %>
							<%= link_to "Add founders to #{coin.name}" %>
						<% else %>
							<ul>
								<% @project.founders.each do |founder| %>
									<li>
										<%= founder %>
									</li>
								<% end %>
							</ul>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>Owner</h6>
					</div>
					<div class="col-md-8">
						<p><%= @project.team %></p>
					</div>
				</div>						
			</li>
		</ul>
		<ul>
			<li class="project-links project-links-block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<h6>links</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>url</h6>
					</div>
					<div class="col-md-8">
						<%= link_to @project.name, @project.link %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>whitepaper</h6>
					</div>
					<div class="col-md-8">
						"<%= link_to @project.whitepaper_title, @project.whitepaper_url %>"
					</div>
				</div>
			</li>
		</ul>
	</div>
	<%= debug(params) if Rails.env.development? %>
	<ul class="action-links">
		<li><%= link_to("Add new project", new_project_path, remote: true, class: "action-link", accesskey: 'A') %></li>
		<li><%= link_to("Edit #{@project.name}", edit_project_path, remote: true, class: "action-link", accesskey: 'E') %></li>
	</ul>
</div>