<%= javascript_include_tag "add_another" %>

<%= form_for [@link], authenticity_token: true, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Question", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :title, rows: 6, class: 'filestyle' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "URL", class: "form-input", class: "form-label optional-field" %>
		</div>
		<div class="col-md-8">
			<a class="optional-toggle">Add link (optional)</a>
			<%= f.text_field :link, class: "form-input optional-field" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Networks", class: "form-input" %>
		</div>
		<div class="col-md-8">
			<%= f.collection_select :networks, Network.all.order("name ASC").map { |n| [n.id, n.name, {'data-icon' => n.logo}, {class: 'network-option'}]}, :first, :second, @network.nil? ? {} : {selected: @network.id}, {multiple: true, size: 4, id: "link-option", :include_blank => false} %>
			<%#= f.hidden_field :networks, :value => @link.networks %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= f.submit "Submit", class: "form-submit" %> 
		</div>
	</div>
<% end %>