<li class="link-block block">
	<div class="row">
		<div class="col-md-4">
			<h6 class="when-posted"><%= time_ago_in_words(link.created_at) %> ago</h6>
		</div>
		<div class="col-md-8">
			<h6 class="link-title"><%= link_to link.title, link.link %></h6>
			<% if link.comment_count > 1 || link.comment_count == 0 %>
				<h6 class="comment-count"><%= link_to "#{link.comment_count} comments", link %></h6>
			<% elsif link.comment_count > 0 %>
				<h6 class="comment-count"><%= link_to "#{link.comment_count} comment", link %></h6>
			<% end %>
			<% if link.coins.any? %>
				<div class="user-log-classification-alt-links">
					<p class="user-log-classification-alt-links-p">Coin</p>
					<% link.coins.each do |coin| %>
						<div class="user-log-classification-link">
							<%= image_tag(coin.logo.small.url, size: "20x20") %>
							<%= link_to coin.name, coin %>
						</div>
					<% end %>
				</div>
			<% end %>
			<% if link.networks.any? %>
				<div class="user-log-classification-alt-links">
					<p class="user-log-classification-alt-links-p">Network</p>
					<% link.networks.each do |network| %>
						<div class="user-log-classification-link">
							<%= image_tag(network.logo.small.url, size: "20x20") %>
							<%= link_to network.name, network %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</li>
