<div class="row">
	<% if defined?(@network) %>		
		<div class="col-md-2 col-md-offset-1 left-nav">
			<%= render(partial: '/layouts/info_menu', locals: { network: @network, active_item: "links"}) %>
		</div>
		<%= render partial: '/networks/related_dropdown', locals: { network: @network } %>
		<div class="col-md-9 col-xs-12 main">
			<div class="info-header">
				<%= render(partial: 'networks/network_main_info_header', locals: { network: @network }) %>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-8 col-xs-12 ">
						<% if @network.links.empty? %>
							<div class="row">
								<div class="col-md-8 col-md-offset-4 col-xs-12 col-xs-offset-0">
									<p class="add-first">No questions yet. 
										<% if browser.platform.ios? or browser.platform.android? %>
											Add one from desktop.
										<% else %>
											<%= link_to "Want to ask a question?", new_link_url(network: @network), remote: true %></p>
										<% end %>
								</div>
							</div>
						<% else %>
							<div class="row">
								<ul class="link-list">
									<%= render(partial: 'show_all_links', collection: @network.links, as: :link, locals: {needs_tag: false}) %>
								</ul>
								<%= will_paginate @links %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="col-md-6 main col-md-offset-3">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<h1 class="list-name">Latest questions</h1>
				</div>
			</div>
			<div class="row">
				<% if @links.empty? %>
					<div class="col-md-8 col-md-offset-4">
						<p class="add-first">No questions yet. 
							<% if browser.platform.ios? or browser.platform.android? %>
								Add one from desktop.
							<% else %>
								<%= link_to "Add one?", new_link_url(network: @network), remote: true %></p>
							<% end %>
						</div>
					</div>
				<% else %>
					<div class="col-md-12">
						<ul class="link-list no-network-link-list">
							<%= render(partial: 'show_all_links', collection: @links, as: :link) %>
						</ul>
						<%= will_paginate @links %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<ul class="action-links">
	<li><%= link_to(new_link_path, remote: false, class: "action-link", accesskey: 'L') do %>
		Post a question
		<% end %>
	</li>
</ul>