<div class="row">
	<% if defined?(@network) %>		
		<div class="col-md-2 col-md-offset-1 left-nav">
			<%= render(partial: '/layouts/info_menu', locals: { network: @network, active_item: "links"}) %>
		</div>
		<div class="col-md-9 main">
			<div class="info-header">
				<%= render(partial: 'networks/network_main_info_header', locals: { network: @network }) %>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-8">
						<% if @network.links.empty? %>
							<div class="row">
								<div class="col-md-8 col-md-offset-4">
									<p class="add-first">No links yet. <%= link_to "Add one?", new_link_url(network: @network), remote: true %></p>
								</div>
							</div>
						<% else %>
							<div class="row">
								<ul class="link-list">
									<%= render(partial: 'show_all_links', collection: @network.links, as: :link, locals: {show_tag: false}) %>
								</ul>
								<%= will_paginate @links %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="col-md-6 main col-md-offset-3">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<h1 class="list-name">Latest links</h1>
				</div>
			</div>
			<div class="row">
				<% if @links.empty? %>
					<div class="col-md-8 col-md-offset-4">
						<p class="add-first">No links yet. <%= link_to "Add one?", new_link_url(network: @network), remote: true %></p>
					</div>
				<% else %>
					<ul class="link-list no-network-link-list">
						<%= render(partial: 'show_all_links', collection: @links, as: :link, locals: {show_tag: false}) %>
					</ul>
					<%= will_paginate @links %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<ul class="action-links">
	<li><%= link_to(new_link_path, remote: false, class: "action-link", accesskey: 'L') do %>
		Post a link
		<% end %>
	</li>
</ul>