<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<ul id="info-menu">
			<% if @link.coins.any? %>
				<li class="menu-title">mentioned</li>
				<% @link.coins.each do |coin| %>
					<li>
						<%= link_to coin do %>
							<p><%= coin.name %></p>
							<%= image_tag(coin.logo, class: "coin-logo") %>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="col-md-6 main">
		<ul>
			<li class="link-block">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<h3><%= link_to @link.title, @link.link %></h3>
						<h6 class="when-posted">posted <%= time_ago_in_words(@link.created_at) %> ago</h6>
						<%= render 'comments/form', link: @link %>
						<ul class="comments-cnt">
						  <%= render(partial: 'comments/comment', collection: @link.comments, locals: {i: 0}) %>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<% if current_user.id == @link.user.id %>
		<ul class="action-links">
			<li><%= link_to("Add new link", new_link_path, remote: true, class: "action-link", accesskey: 'A') %></li>
			<li><%= link_to("Edit this", edit_link_path, remote: true, class: "action-link", accesskey: 'E') %></li>
		</ul>
	<% end %>
</div>