<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render 'info_menu', locals: {link: @link} %>
	</div>
	<div class="col-md-6 main">
		<%= render 'show_link', locals: {link: @link} %>
	</div>
	<% if current_user && current_user.id == @link.user_id %>
		<ul class="action-links">
			<li><%= link_to(new_link_path, remote: false, class: "action-link", accesskey: 'A') %>
				Add new link
				<%= image_tag("add-icon-white") %>
				<% end %>
			</li>
			<li><%= link_to(edit_link_path, remote: true, class: "action-link", accesskey: 'E') %>
				Edit this
				<%= image_tag("add-icon-white") %>
				<% end %>
			</li>
		</ul>
	<% end %>
</div>