<nav class="navbar">
  	<div class="container">
  		<div class="navbar-header">
	  		<%= link_to image_tag("logo-search-orange.png", size: "48x48"), '/', class: "navbar-brand", id: "logo" %>
	  		<%= render '/layouts/header/search' %>
	  	</div>
	  	<div id="navbar">
		  	<ul class="nav navbar-nav navbar-right">
		  		<li><h6>Browse by</h6></li>
			    <li id="header-link-networks"><%= link_to 'Networks', networks_url %></a></li>
			    <li id="header-link-coins"><%= link_to 'Coins', coins_url %></a></li>
			    <li id="header-link-news"><%= link_to 'News', links_url %></a></li>
			    <li id="header-link-sales"><a>Upcoming sales</a></li>
			    <li>
			    	<% if user_signed_in? %>
			    		<%= link_to destroy_user_session_path, method: :delete, class: 'account' do %>
			    			<%= current_user.avatar? ? image_tag(current_user.avatar, size: '30x30', class: 'avatar') + current_user.first_name : 'Sign out' %>
			    		<% end %>
			    	<% else %>
			    		<%= link_to 'login', '/signup' %>
			    		<!-- <h6>placeholder<h6> -->
					<% end %>
			    </li>
			</ul>
		</div>
	</div>
</nav>