<ul id="info-menu">
	<li <%= "class=active-item" if active_item == "details" %> id="details"><%= link_to "Details", network %></li>
	<li <%= "class=active-item"  if active_item == "whitepapers" %> id="whitepapers">
		<%= link_to "Whitepapers", "/networks/#{@network.name.downcase}/whitepapers/"  %>
	</li>
	<li <%= "class=active-item"  if active_item == "links" %> id="links"><%= link_to "Links", "/networks/#{@network.name.downcase}/links/" %></li>
	<li <%= "class=active-item"  if active_item == "log" %> id="log"><%= link_to "Log", "/networks/#{@network.name.downcase}/logs" %></li>
	<li id="coins">coins
		<% if network.coins.empty? %>
			<%= link_to "None. Add one?", new_network_coin_path(network), class:"add-another", target: "_blank" %>
		<% else %>
			<% network.coins.each do |coin| %>
				<%= link_to network_coin_path(network,coin) do %>
					<div class="user-log-classification">
						<div class="user-log-classification-coin">
							<%= image_tag(coin.logo.small.url, size: "20x20") if coin.logo? %>
							<%= truncate(coin.name, length: 16) %>
						</div>
					</div>
				<% end %>
			<% end %>
			<%= link_to new_network_coin_path(network) do %>
				Add a coin 
				<%= image_tag("add-icon") %>
			<% end %>
		<% end %>
	</li>
</ul>