<ul class="info-menu">
	<li <%= "class=active-item" if active_item == "details" %> id="details"><%= link_to "Details", network %></li>
	<li <%= "class=active-item"  if active_item == "whitepapers" %> id="whitepapers">
		<%= link_to network.whitepapers.count == 0 ? "Whitepapers" : network.whitepapers.count == 1 ? network.whitepapers.count.to_s + " Whitepaper" : network.whitepapers.count.to_s + " Whitepapers", network_whitepapers_path(network)  %>
	</li>
	<li <%= "class=active-item"  if active_item == "links" %> id="links">
		<%= link_to "Links", network_links_path(network) %>
	</li>
	<li <%= "class=active-item"  if active_item == "log" %> id="log"><%= link_to "Logs", "/networks/#{@network.name.downcase.split(' ').join('-')}/logs" %>
	</li>
	<li id="coins">coins
		<% if network.coins.empty? %>
			<%= link_to "None. Add one?", new_network_coin_path(network), class:"add-another", target: "_blank" %>
		<% else %>
			<% network.coins.each_with_index do |coin, i| %>
				<%= render 'coins/coin_widget', :coin => coin, :i => i, :info_menu => true %>
			<% end %>
			<%= link_to new_network_coin_path(network), :class => 'add-coin' do %>
				Add a coin 
			<% end %>
		<% end %>
	</li>
</ul>