<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
  	<%= render 'layouts/rails_default' %>
  	<%= render 'layouts/shim' %>
    <%= content_for :head %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <div id="wrap">
    	<div class="container main-container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
    	  	<%= yield %>
    	</div>
      <div id="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
