<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
  	<%= render 'layouts/rails_default' %>
  	<%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <div id="wrap">
    	<div class="container main-container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
    	  	<%= yield %>
    	</div>
      <div id="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4227199-8', 'auto');
    ga('send', 'pageview');

  </script>
</html>
