<!DOCTYPE html>
<html>
  <head>
  	<%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= javascript_include_tag "show_alerts" %>
  	<%= render 'layouts/header' %>
    <div id="modal-holder"></div>
    <% unless @subscribed_already == "true" or browser.platform.ios? or browser.platform.android? %> 
      <%= render 'newsletters/new' %>
    <% end %>
    <div id="wrap">
    	<div class="container main-container">
    	  	<%= yield %>
    	</div>
      <div id="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
