<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
  	<%= render 'layouts/rails_default' %>
  	<%= render 'layouts/shim' %>
  </head>
  <body>
    <%= javascript_include_tag "show_alerts" %>
  	<%= render 'layouts/header' %>
    <div id="wrap">
    	<div class="container main-container">
    	  	<%= yield %>
    	</div>
      <div id="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
