<%= form_for @coin, authenticity_token: true, remote: @use_ajax, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= image_tag @coin.logo, size: "60x60", id: "coin-logo" if @coin.logo? %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin logo", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.file_field :logo, class: 'filestyle' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin name", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :name, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin status", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :coin_status, options_for_select([["Concept","Concept"],["Pre-production","Pre-production"],["Live","Live"]], :selected => @coin.coin_status), include_blank: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Additional info", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :coin_info, rows: 6, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<h6>application</h6>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Name", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :application_name, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Description", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :application_description, rows: 6, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Status", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select(:application_status, options_for_select([["Concept","Concept"],["Pre-production","Pre-production"],["Live","Live"]]), include_blank: true) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Category", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select a category' } %>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "URL", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.text_field :application_url, class: "form-input" %>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= f.submit "Submit changes", class: "form-submit" %> 
		</div>
	</div>
<% end %>