<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('input:checkbox').bootstrapSwitch();
		});
	</script>
<% end %>
<%= form_for @coin, authenticity_token: true, remote: @use_ajax, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= image_tag @coin.logo, size: "60x60", id: "coin-logo" if @coin.logo? %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin logo", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.file_field :logo, class: 'filestyle' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin name", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :name, class: "form-input" %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Coin status", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :coin_status, options_for_select([["Concept","Concept"],["Pre-production","Pre-production"],["Live","Live"]], :selected => @coin.coin_status), include_blank: true %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Networks", class: "form-label select-label" %>
			<h6 class="label-helper">Select one or more</h6>
		</div>
		<div class="col-md-8">
			<%= f.select :network_id, options_for_select(Network.all.map {|n| [n.name, n.id, {'data-icon' => n.logo}, {class: 'network-option'}]}, { selected: @coin.network }.delete_if {|k,v| v.nil?}), {}, {multiple: true, size: 8.5, id: "network-option"} %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Type", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :type, options_for_select([["Currency","currency"],["Token","token"],["Equity","equity"],["Certificate","certificate"]], :selected => @coin.type), include_blank: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Proof algorithm", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :type, options_for_select([["Proof of work","proof-of-work"],["Proof of stake","proof-of-stake"],["Proof of burn","proof-of-burn"],["X11","x11"],["X13","x13"]], :selected => @coin.proof_algorithm), include_blank: true %>
		</div>
	</div>
	<%= f.fields_for :repositories do |r| %>
		<%= render "repository_fields", :r => r %>
	<% end %>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Additional info", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :coin_info, rows: 6, class: "form-input" %>
		</div>
	</div>
	<ul class="action-links">
		<li class="submit">
			<%= f.submit "Submit changes", class: "form-submit" %> 
		</li>
	</ul>
<% end %>