<%= javascript_include_tag "add_another" %>
<%= form_for [@network, @coin], authenticity_token: true,  html: { multipart: true } do |f| %>
	<%= hidden_field_tag :is_ico, true %>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= image_tag @coin.logo, size: "60x60", id: "coin-logo" if @coin.logo? %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Capital", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :capital_raised, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Use of proceeds", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :ico_use_of_proceeds, rows: 6, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Token Sale Structure", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :ico_token_sale_structure, rows: 6, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Token Sale Structure", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :ico_token_sale_structure, rows: 6, class: "form-input" %>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Allocation", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :ico_allocation, rows: 6, class: "form-input" %>
		</div>
	</div>	
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Sale date", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.date_field :saledate, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Planned end date", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.date_field :ico_planned_end_date, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Planned end date", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.date_field :ico_planned_end_date, class: "form-input" %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Founders' lockup", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :ico_founder_lockup, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Buyers' lockup", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :ico_buyer_lockup, rows: 6, class: "form-input" %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Type of min cap", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :ico_type_of_min_cap, Coin.ico_type_of_min_caps.keys.to_a %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Min investment cap", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :ico_min_investment_cap, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Type of max cap", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :ico_type_of_max_cap, Coin.ico_type_of_max_caps.keys.to_a %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Max investment cap", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :ico_max_investment_cap, class: "form-input" %>
		</div>
	</div>
	<ul class="action-links">
		<li class="submit">
			<%= f.submit "Submit", class: "form-submit" %> 
		</li>
	</ul>
<% end %>