<ul class="info-menu">
	<li <%= "class=active-item" if active_item == "details" %> class="active-item" id="details">
		<% unless coin.network.nil? %>
			<%= link_to "Details", network_coin_path %>		
		<% else %>
			<%= link_to "Details", coin_path %>		
		<% end %>
	</li>
	<li <%= "class=active-item" if active_item == "log" %> id="log">
		<% unless coin.network.nil? %>
			<%= link_to "Logs", "/networks/#{@coin.network.name.downcase}/coins/#{@coin.name.downcase.split(' ').join('-')}/logs", remote: true %>
		<% else %>
			<%= link_to "Logs", "/coins/#{@coin.name.downcase.split(' ').join('-')}/logs", remote: true %>
		<% end %>	
	</li>
	<li class="menu-title" id="network">networks<br>
		<% unless coin.network.nil? %>
			<%= link_to coin.network, class: "user-log-classification-anchor" do %>
				<div class="user-log-classification">
					<div class="user-log-classification-network">
						<%= image_tag(coin.network.logo.small.url, size: "20x20") if coin.logo? %>
						<%= truncate(coin.network.name, length: 16) %>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			<% end %>
		<% else %>
			<%= link_to "Add one?", edit_coin_url, class: "add-one" %>
		<% end %>
	</li>
</ul>