<ul class="info-menu">
	<li <%= "class=active-item" if active_item == "details" %> id="details">
		<%= link_to "Details", network_coin_path %>
	</li>
	<li <%= "class=active-item" if active_item == "ico" %> id="ico">
		<%= link_to "ICO terms", ico_network_coin_path %>
	</li>
	<li <%= "class=active-item" if active_item == "log" %> id="log">
		<%= link_to "Logs", logs_network_coin_path %>
	</li>
	<li class="menu-title" id="network">networks<br>
		<% unless coin.network.nil? %>
			<%= render '/networks/network_widget', :network => coin.network, :info_menu => true %>
		<% else %>
			<%= link_to "Add one?", new_network_coin_url, class: "add-one" %>
		<% end %>
	</li>
</ul>