<ul class="info-menu">
	<li <%= "class=active-item" if active_item == "details" %> class="active-item" id="details">
		<% unless coin.network.nil? %>
			<%= link_to "Details", network_coin_path %>		
		<% else %>
			<%= link_to "Details", coin_path %>		
		<% end %>
	</li>
	<li <%= "class=active-item" if active_item == "log" %> id="log">
		<% unless coin.network.nil? %>
			<%= link_to "Logs", "/networks/#{@coin.network.name.downcase}/coins/#{@coin.name.downcase.split(' ').join('-')}/logs", remote: true %>
		<% else %>
			<%= link_to "Logs", "/coins/#{@coin.name.downcase.split(' ').join('-')}/logs", remote: true %>
		<% end %>	
	</li>
	<li id="network">network<br>
		<% unless coin.network.nil? %>
			<%= link_to network_path(coin.network) do %>
				<div class="user-log-classification">
					<div class="user-log-classification-network">
						<%= image_tag(coin.network.logo.small.url, size: "20x20") if coin.logo? %>
						<%= truncate(coin.network.name, length: 16) %>
					</div>
				</div>
			<% end %>
		<% else %>
			<%= link_to "Add one?", edit_coin_url %>
		<% end %>
	</li>
</ul>