<li class="log-block block">
	<div class="row">
		<div class="col-md-4">
			<% if defined?(log.coins) && !log.coins.nil? %>
	    		<div class="user-log-classification">
					<div class="user-log-classification-network">
						<%= image_tag(log.coins.logo.small.url, size: "20x20") if log.coins.logo? %>
						<% if log.coins.network.nil? %>
							<%= link_to truncate(log.coins.name, length: 16	), coin %>
						<% else %>
							<%= link_to truncate(log.coins.name, length: 16	), network_coin_path(log.coins.network, log.coins) %>
						<% end %>
					</div>
				</div>
			<% end %>
			<h6 class="when-posted"><%= time_ago_in_words(log.created_at) %></h6>
		</div>
		<div class="col-md-8">
			<ul class="log-list"> 
				<% log.changes.each do |change| %>
					<li>
						<% case change[:change_attr] %>
							<% when "Repositories", "Exchanges" %>
									<%= render partial: '/shared/who_posted', locals: {user: log.user} %>
									<%= change[:change_attr].capitalize %>
									<% if change[:change_type] == "added" %>
										added: 
											<% puts "log is #{change[:change].second}" %>
											<%= link_to change[:change].second.first["name"], change[:change].second.first["url"] %>
									<% elsif change[:change_type] == "edited" %>
										changed from 
											<% change[:change].first.each_with_index do |change, i| %>
												<%= link_to change["name"], change["url"] %>
											<% end %>
										to 
											<% change[:change].second.each_with_index do |change, i| %>
												<%= link_to change["name"], change["url"] %>
											<% end %>
									<% end %>
							<% when "Network", "Description" %>
								<%= render partial: '/shared/who_posted', locals: {user: log.user} %>
								<%= change[:change_attr].capitalize %>
								<% if change[:change_type] == "added" %>
									added:
									<%= link_to change[:change].second.name, change[:change].second unless change[:change].nil? %>
								<% elsif change[:change_type] == "edited" %>
									changed from 
										<% change[:change].first.each_with_index do |change, i| %>
											<%= link_to change["name"], change unless change.nil? %><%= "," unless i + 1 == change[:change].second.length %>
										<% end %>
									to 
										<% change[:change].second.each_with_index do |change, i| %>
											<%= link_to change["name"], change unless change.nil? %>
										<% end %>
								<% end %>
							<% when "Created" %>
								<%= render partial: '/shared/who_posted', locals: {user: log.user} %>
								Created 
								<%= link_to log.coins.name, log.coins %>
							<% when "logo" %>
								<%= render partial: '/shared/who_posted', locals: {user: log.user} %>
								New logo
							<% else %>
								<%= render partial: '/shared/who_posted', locals: {user: log.user} %>
								<%= change[:change_attr].capitalize %>
								<% if change[:change_type] == "added" %>
									added: "<%= change[:change].second.capitalize %>"
								<% elsif change[:change_type] == "edited" %>
									changed from "<%= change[:change].first %>" to "<%= change[:change].second.capitalize %>"
								<% end %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</li>