<li class="log-block block">
	<div class="row">
		<% if show_tag %>
			<div class="col-md-4">
				<% if defined?(log.coins) && !log.coins.nil? %>
					<% puts "log coins is #{log.coins.inspect}" %>
					<% puts "log coins is #{log.coins}" %>
			    	<a href=<%= network_coin_path(log.coins.network, log.coins) %> class="user-log-classification-anchor">
			    		<div class="user-log-classification">
							<div class="user-log-classification-network">
								<%= image_tag(log.coins.logo.small.url, size: "20x20") if log.coins.logo? %>
								<%= truncate(log.coins.name, length: 16) %>
							</div>
						</div>
					</a>
				<% end %>
			</div>
			<div class="col-md-8 log-inner-block">
		<% else %>
			<div class="col-md-8 col-md-offset-4 log-inner-block">
		<% end %>
			<%= render partial: '/coins/log_data', locals: { log: log } %>
			<%= render partial: '/shared/who_posted', locals: {user: log.user, created_at: log.created_at} %>
		</div>
	</div>
</li>