<div class="row">
	<div class="col-md-8 col-xs-12">
		<ul id="<%= @coin.name %> show-coin">
			<li class="coin-main-info coin-info-block block">
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>status</h6>
					</div>
					<div class="col-md-8 col-xs-12 data <%= 'status' unless @coin.coin_status.nil? || @coin.coin_status == '' %>">
						<% if @coin.coin_status.nil? || @coin.coin_status == "" %>
							<% if browser.platform.ios? or browser.platform.android? %>
								<p>None added yet. Add its status from desktop.</p>
							<% else %>
								<p><%= link_to "Add its status", edit_network_coin_url, class: "add-missing-field" %></p>
							<% end %>
						<% else %>
							<div class="status-icon <%= @coin.coin_status.downcase %>-icon"></div>
							<p class="status <%= @coin.coin_status.downcase %>-status"><%= @coin.coin_status.downcase %></p>
						<% end %>
					</div>
				</div>
				<% unless @coin.coin_status.downcase != "live" %>
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>Exchange</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<% if @coin.exchanges.nil? || @coin.exchanges == "" || @coin.exchanges.empty? %>
								<% if browser.platform.ios? or browser.platform.android? %>
									<p>None added yet. Add an exchange from desktop.</p>
								<% else %>
									<p>
										<%= link_to "Add an exchange", edit_network_coin_path(@coin.network, @coin), class: "add-missing-field" %>
									</p>
								<% end %>
							<% else %>
								<ul>
									<% @coin.exchanges.each_with_index do |exchange, i| %>
										<% if exchange.url == "" or exchange.name = "" %>
											<% if browser.platform.ios? or browser.platform.android? %>
												<li>
													<p>None added yet. Add an exchange from desktop.</p>
												</li>
											<% else %>
												<li>
													<p>
														<%= link_to "Where can one buy #{@coin.name}?",edit_network_coin_url, class: "add-missing-field" %>
													</p>
												</li>
											<% end %>
										<% else %>
											<li>
												<p>
													<%= link_to exchange.name, exchange.url %>
												</p>
											</li>
										<% end %>
									<% end %>
								</ul>
							<% end %>
						</div>
					</div>
				<% end %>
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>additional</h6>
					</div>
					<div class="col-md-8 col-xs-12 data">
						<% if @coin.application_description.nil? || @coin.application_description == "" %>
							<% if browser.platform.ios? or browser.platform.android? %>
									<p>None added yet. Add a description from desktop.</p>
							<% else %>
								<p>
									<%= link_to "What's a basic summary for #{@coin.name}?", edit_network_coin_url(@coin.network, @coin), class: "add-missing-field" %>
								</p>
							<% end %>
						<% else %>
							<p><%= @coin.coin_info %></p>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>Networks</h6>
					</div>
					<div class="col-md-8 col-xs-12 data">
						<% if browser.platform.ios? or browser.platform.android? %>
							<p>None added yet. Add a network from desktop.</p>
						<% else %>
							<p>
								<%= link_to "Does #{@coin.name} belong to a network?", edit_network_coin_path(@coin), class: "add-missing-field" %>
							</p>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>Symbol</h6>
					</div>
					<div class="col-md-8 col-xs-12 symbol">
						<% if @coin.symbol.nil? || @coin.symbol.blank? || @coin.symbol.empty? %>
							<%= @coin.symbol %>
						<% else %>
							<% if browser.platform.ios? or browser.platform.android? %>
								<p>None added yet. Add a symbol from desktop.</p>
							<% else %>
								<p>
									<%= link_to "Do you know the symbol for #{@coin.name}?", edit_network_coin_url(@coin.network.name, @coin), class: "add-missing-field" %>
								</p>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>Saledate</h6>
					</div>
					<div class="col-md-8 col-xs-12 saledate data">
						<% unless @coin.saledate.nil? || @coin.saledate.blank? %>
							<%= @coin.saledate.strftime('%b %d, %Y') %>
						<% else %>
							<% if browser.platform.ios? or browser.platform.android? %>
								<p>None added yet. Add a sale date from desktop.</p>
							<% else %>
								<p><%= link_to "When does #{@coin.name} go on sale?", edit_network_coin_url, class: "add-missing-field" %></p>
							<% end %>
						<% end %>
					</div>
				</div>
			</li>
			<% unless @coin.coin_status != 'live' || @coin.market_cap.nil? %>
				<li class="coin-price-info coin-info-block block">
					<div class="row">
						<div class="col-md-8 col-md-offset-4 title-row">
							<h6>financials</h6>
						</div>
					</div>	
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>price (usd)</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<p><%= number_to_currency(@coin.price, :unit => '$') unless @coin.price.nil? %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>1d</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<p>
								<span class=<%= !@coin.one_day_price_change.nil? && @coin.one_day_price_change > 0 ? 'up' : 'down' %>><%= @coin.one_day_price_change unless @coin.one_day_price_change.nil? %>%
								</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>1h</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<p>
								<span class=<%= !@coin.one_hour_price_change.nil? && @coin.one_hour_price_change > 0 ? 'up' : 'down' %>><%= @coin.one_hour_price_change unless @coin.one_hour_price_change.nil? %>%
								</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>Market cap</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<p>$<%= number_to_human(@coin.market_cap, units: {thousand: "K", million: "mm", billion: "B"}).delete(' ') unless @coin.market_cap.nil? %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>Available supply</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<p><%= number_to_human(@coin.available_supply, units: {thousand: "K", million: "mm", billion: "B"}).delete(' ') unless @coin.available_supply.nil? %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-xs-12 label">
							<h6>Total supply</h6>
						</div>
						<div class="col-md-8 col-xs-12 data">
							<p><%= number_to_human(@coin.total_supply, units: {thousand: "K", million: "mm", billion: "B"}).delete(' ') unless @coin.available_supply.nil? %></p>
						</div>
					</div>
				</li>
			<% end %>
			<li class="coin-info-block block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4 col-xs-12 col-xs-offset-0 title-row">
						<h6>technical</h6>
					</div>
				</div>	
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>Repo</h6>
					</div>
					<div class="col-md-8 col-xs-12 data">
						<% if @coin.repositories.empty? || @coin.repositories.first.name == ""  %>
							<% if browser.platform.ios? or browser.platform.android? %>
								<p>None added yet. Add a repository from desktop.
							<% else %>
								<p><%= link_to "Add a repository", edit_network_coin_url(@coin.network.name, @coin), class: "add-missing-field" %></p>
							<% end %>
						<% else %>
							<% @coin.repositories.each_with_index do |repository, i| %>
								<div class="col-md-8 <%= "col-md-offset-4" unless i==0 %>">
									<p><%= link_to repository.name, repository.url %>
								</div>
							<% end %>
						<% end %>	
					</div>	
				</div>	
				<div class="row">
					<div class="col-md-4 col-xs-12 label">
						<h6>Type</h6>
					</div>
					<div class="col-md-8 col-xs-12 data">
						<% if @coin.coin_type.nil? || @coin.coin_type == "" %>
							<% if browser.platform.ios? or browser.platform.android? %>
								<p>None added yet. Add a coin type from desktop.
							<% else %>
								<p>
									<%= link_to "Add a type", edit_network_coin_url(@coin.network.name, @coin), class: "add-missing-field" %>
								</p>
							<% end %>
						<% else %>
							<p><%= @coin.coin_type.capitalize %></p>
						<% end %>
					</div>
				</div>	
			</li>
		</ul>
	</div>
</div>