<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', locals: {coin: @coin, active_item: "details"}) %>
	</div>
	<div class="col-md-9 main">
		<div class="info-header">
			<%= render(partial: 'coins/coin_main_info_header', locals: { coin: @coin }) %>
		</div>
		<div class="content">
			<%= render 'show_coin' %>
		</div>
	</div>
	<ul class="action-links">
		<% if current_user %>
			<li>
				<%= link_to("Follow #{@coin.name}", follow_network_coin_path(@coin.network, @coin), remote: true, class: "action-link", id: "follow-coin", accesskey: 'F') %>
			</li>
		<% else %>
			<li>
				<%= link_to("Follow #{@coin.name}", follow_network_coin_path(@coin.network, @coin), class: "action-link", id: "follow-coin", accesskey: 'F') %>
			</li>
		<% end %>
		<li><%= link_to("Edit #{@coin.name}", edit_network_coin_path(@coin.network, @coin), class: "action-link", accesskey: 'E') %></li>
	</ul>
</div>