<div class="row">
	<%= render 'coin_status_menu' %>
	<div class="col-md-6 main">
		<%= render(partial: "coins_in_statuses", locals: {status_group: @coins_live, status: "Live"}) %>
		<%= render(partial: "coins_in_statuses", locals: {status_group: @coins_preproduction, status: "Pre-production"}) %>
		<%= render(partial: "coins_in_statuses", locals: {status_group: @coins_concept, status: "Concept"}) %>
		<%= render(partial: "coins_in_statuses", locals: {status_group: @coins_dead, status: "Dead"}) %>
		<ul class="action-links">
			<li><%= link_to("Add new coin", new_coin_path, class: "action-link", accesskey: 'A') %></li>
		</ul>
	</div>
</div>