<%= javascript_include_tag 'paginate_logs' %>
<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', locals: {active_item: "log", coin: @coin}) %>
	</div>
	<%= render partial: 'related_dropdown', locals: { network: @coin } %>
	<div class="col-md-9 col-xs-12 main ">
		<div class="info-header">
			<div class="row">
				<div class="col-md-9 col-xs-12">
					<%= render 'coin_main_info_header', coin: @coin %>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-9 col-xs-12 logs-cnt">
					<div class="row">
						<ul class="outer-log-list">
							<%= render(partial: 'log', collection: @logs, as: :log, locals: { show_tag: false }) %>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>