<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<ul id="info-menu">
			<li class="active-item"><p><%= link_to("Details", "#details") %><p></li>
			<li><p><%= link_to("News", "#news") %></p></li>
			<li><p><%= link_to("Discussion", "#discussion") %></p></li>
			<li><p><%= link_to("Log", "#log") %></p></li>
		</ul>
	</div>
	<div class="col-md-6 main">
		<ul>
			<li class="coin-main-info coin-info-block">
				<%= render 'coin_main_info_header' %>
				<div class="row">
					<div class="col-md-4 label">
						<h6>status</h6>
					</div>
					<div class="col-md-8 data status">
						<div class="status-icon <%= @coin.coin_status.downcase %>-icon"></div>
						<p class="status <%= @coin.coin_status.downcase %>-status"><%= @coin.coin_status.downcase %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>where to buy</h6>
					</div>
					<div class="col-md-8 data">
						<ul>
							<li><a href="http://steemit.com">Steem.com <%= image_tag("link-icon.png", size: "14x14", class: "link-icon") %></a></li>
							<li><a href="http://gdax.com">GDAX <%= image_tag("link-icon.png", size: "14x14", class: "link-icon") %></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>additional</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= @coin.coin_info %></p>
					</div>
				</div>
			</li>
			<li class="coin-price-info coin-info-block">
				<div class="row">
					<div class="col-md-4 label">
						<h6>price (usd)</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= number_to_currency(@coin.price, :unit => '$') %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>1d</h6>
					</div>
					<div class="col-md-8 data status">
						<p><%= @coin.one_day_price_change %>%</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>1h</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= @coin.one_hour_price_change %>%</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>Available supply</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= number_to_human(@coin.available_supply) %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>Total supply</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= number_to_human(@coin.total_supply) %></p>
					</div>
				</div>
			</li>
			<li class="application-info coin-info-block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<h6>application</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>App Name</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= @coin.application_name %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>App Description</h6>
					</div>
					<div class="col-md-8 data">
						<p><%= @coin.application_description %></p>
					</div>
				</div>				
				<div class="row">
					<div class="col-md-4 label">
						<h6>status</h6>
					</div>
					<div class="col-md-8 data status">
						<div class="status-icon <%= @coin.coin_status.downcase %>-icon"></div>
						<p class="status <%= @coin.coin_status.downcase %>-status"><%= @coin.coin_status.downcase %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 label">
						<h6>visit</h6>
					</div>
					<div class="col-md-8 data">
						<ul>
							<li><%= link_to @coin.application_name, @coin.application_url %>
								<%= link_to image_tag("link-icon.png", size: "14x14", class: "link-icon"), @coin.application_url  %></a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<%= debug(params) if Rails.env.development? %>
	<ul class="action-links">
		<li><%= link_to("Add new coin", new_coin_path, remote: true, class: "action-link", accesskey: 'A') %></li>
		<li><%= link_to("Edit #{@coin.name}", edit_coin_path, remote: true, class: "action-link", accesskey: 'E') %></li>
	</ul>
</div>