<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', locals: {coin: @coin, active_item: "details"}) %>
	</div>
	<div class="col-xs-12 dropdown-navigator">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    related
	    	<span class="caret"></span>
	  	</button>
		<ul class="dropdown-menu top-nav" id="related-dropdown" aria-labelledby="dropdownMenuDivider">
			<li data-link=<%= coin.network.nil? ? coin_path : network_coin_path %>>details</li>
			<li data-link=<%= coin.network.nil? ? coin_path : "/networks/#{@coin.network.name.downcase}/coins/#{@coin.name.downcase.split(' ').join('-')}/logs" %>>logs</li>
			</li>
		</ul>
	</div>
	<div class="col-md-9 col-xs-12 main ">
		<div class="info-header">
			<%= render 'coin_main_info_header', coin: @coin %>
		</div>
		<div class="content">
			<%= render 'show_coin' %>
		</div>
	</div>
	<ul class="action-links">
		<% if current_user %>
			<% if @following %>
				<li><%= link_to("Unfollow #{@coin.name}", unfollow_coin_path(@coin), remote: true, method: :put, class: "action-link", id: "unfollow-network", accesskey: 'F') %></li>
			<% else %>
				<li><%= link_to("Follow #{@coin.name}", follow_coin_path(@coin), remote: true, method: :put, class: "action-link", id: "follow-coin", accesskey: 'F') %></li>
			<% end %>
		<% else %>
			<li>
				<%= link_to("Follow #{@coin.name}", follow_coin_path(@coin), class: "action-link", method: :put, id: "follow-coin", accesskey: 'F') %>
				</li>
		<% end %>
		<li>
			<% unless @coin.network.nil? %>	
				<%= link_to("Edit #{@coin.name}", edit_network_coin_path, class: "action-link", accesskey: 'E') %>	
			<% else %>
				<%= link_to("Edit #{@coin.name}", edit_coin_path, class: "action-link", accesskey: 'E') %>
			<% end %>
		</li>
	</ul>
</div>